@import "base.scss";


/*
 * Global
 * --------------------------------------------------
 */


body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: $main-font;
}

a {
	color: #4F61A0;
}

section {
	margin-bottom: 2em;
	padding-bottom: 3em;
	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
	}
	h3:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -285px; 
	  height: 285px; 
	  visibility: hidden; 
	  pointer-events: none;
	}
}


/*
 * Navigation
 * --------------------------------------------------
 */

.navbar-inverse {
	background-color: $base-color;
}

.navbar-inverse .navbar-brand {
	color: #cfd6de;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}

.navbar-inverse .navbar-brand:after {
	content:' | |';
	padding-left: 1em;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.page-header {
	padding-bottom: 0;
	margin: 20px 0 40px;
	text-align: center;
	border-bottom: none;
		&:after {
		display:block;
		position:relative;
		content:'';
		bottom: -10px;
		width: 140px;
		height: 2px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background: #1f2640;
		box-shadow: 0 10px 0 #1f2640;
	}
}


/*
 * Fonts
 * --------------------------------------------------
 */

h1 {
	font-size: 1.6em;
	color: $main-color;
	font-family: $accent-font;
	text-align: center;
}

h2 {
	font-size: 1.6em;
	color: $main-color;
	margin-top: 1.5em;
	font-family: $accent-font;
	&:first-of-type {
		margin-top: 0em;
		font-weight: 100;
	}
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
	color: #070910;
	font-family: $main-font;
	& + h4 {
		margin-top: 0em;
	}
}

h4 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
	color: #070910;
	font-family: $accent-font;
}

h5 {
	font-size: 1.3em;
	margin-bottom: 0.25em;
	color: #070910;
	font-family: $main-font;
}

p {
	max-width: 62em;
	font-size: 1.2em;
	&.call-out {
		font-size: 1.4em;
		line-height: 1.8em;
		margin: 2em 0 3em;
	}
	.firstcharacter {
	  color: $main-color;
	  float: left;
	  font-family: Georgia;
	  font-size: 5em;
	  line-height: 60px;
	  padding-top: 4px;
	  padding-right: 8px;
	  padding-left: 3px;
	}
}



/*
 * Portfolio Section
 * --------------------------------------------------
 */

section.portfolio {
 	padding-bottom: 7em;
}

.portfolio-item {
    margin-bottom: 25px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
    align-items: baseline;
}

.award {
	background: $neutral-color;
	padding: 8em 4em 4em;
	margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    @include respond-to(small) {
    	padding: 4em;
    }
	img {
		margin-left: auto;
		margin-right: auto;
	}
}

.img-shadow {
	box-shadow:2px 2px 8px rgba(0, 0, 0, 0.6);
}

/*
 * Contact Section
 * --------------------------------------------------
 */


/* Rounded center split and bottom rounded */
.roundedsplit {
	background: $accent-color;
	border-radius: 0 0 80px 80px;
}

.roundedsplit::before,
.roundedsplit::after {
	top: -70px;
	left: 0;
	z-index: 10;
	width: 50%;
	height: 70px;
	background: inherit;
	box-shadow: 1px -10px #888888;
}

.roundedsplit::before {
	border-radius: 0 80px 0 0;
}

.roundedsplit::after {
	left: 50%;
	border-radius: 80px 0 0 0;
}

#resume {
	p {
		margin-bottom: 1.3em;
		line-height: 1.5em;
	}
	h5 {
		display: inline-block;
		margin-top: 0;
	}
	span.date {
	    display: inline-block;
	    float: right;
	    padding-right: 2em;
	}
	ul {
	font-size: 1.2em;
	line-height: 1.5em;
		li {
			margin-bottom: 1.2em;
			&:last-child {
				margin-bottom: 1.8em;
			}
		}
	}
}


/*
 * Footer
 * --------------------------------------------------
 */

footer {
	background-color: $base-color;
	padding: 1.5em 1em 1em 2em;
    margin: 50px 0 0 0;
}

footer small {
	color: #cfd6de;
}