@import "base.scss";


/*
 * Global
 * --------------------------------------------------
 */


body {
    //padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: $main-font;
    background-color: #ffffff;
}

a {
	color: #4F61A0;
}

section {
	margin-bottom: 2em;
	padding-bottom: 3em;
	&::before, &::after {
		position: absolute;
		content: '';
		pointer-events: none;
	}
	h3:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -285px; 
	  height: 285px; 
	  visibility: hidden; 
	  pointer-events: none;
	}
}

.intro {
	text-align: center;
	padding-bottom: 2em;
}


/*
 * Navigation
 * --------------------------------------------------
 */

.navbar-inverse {
	background-color: $base-color;
}

.navbar-inverse .navbar-brand {
	color: $accent-color;
    font-family: $accent-font;
    font-weight: 100;
    font-size: 1.3em;
}

.navbar-inverse .navbar-brand:after {
	content:' | |';
	padding-left: 1em;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.page-header {
	padding-bottom: 0;
	margin: 20px 0 40px;
	text-align: center;
	border-bottom: none;
		&:after {
		display:block;
		position:relative;
		content:'';
		bottom: -10px;
		width: 140px;
		height: 2px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background: #1f2640;
		box-shadow: 0 10px 0 #1f2640;
	}
}


/*
 * Fonts
 * --------------------------------------------------
 */

h1 {
	font-size: 1.6em;
	color: $base-color;
	font-family: $accent-font;
	text-align: center;
}

h2 {
	font-size: 1.4em;
	color: $main-color;
	margin: 20px 0 40px;
	font-family: $accent-font;
	padding-bottom: 0;
	text-align: center;
	&:first-of-type {
		margin-top: 0em;
		font-weight: 100;
	}
}

h3 {
	font-size: 1.3em;
	margin-bottom: 0.25em;
	color: $neutral-color;
	font-family: $main-font;
	& + h4 {
		margin-top: 0em;
	}
}

h4 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
	color: $neutral-color;
	font-family: $accent-font;
}

h5 {
	font-size: 1.3em;
	margin-bottom: 0.25em;
	color: $neutral-color;
	font-family: $main-font;
}

p {
	max-width: 62em;
	font-size: 1.2em;
	&.call-out {
		font-size: 1.4em;
		line-height: 1.8em;
		margin: 2em 0 3em;
	}
}



/*
 * Portfolio Section
 * --------------------------------------------------
 */

section.portfolio {
 	padding-bottom: 7em;
 	img {
 		max-width: 400px;
 		margin-left: auto;
 		margin-right: auto;
 	}
}

.portfolio-item {
    margin-bottom: 25px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
    align-items: baseline;
}

.img-shadow {
	box-shadow:2px 2px 8px rgba(0, 0, 0, 0.6);
}

/*
 * Contact Section
 * --------------------------------------------------
 */


#contact {
	text-align: center;
	p {
		margin-bottom: 1.3em;
		line-height: 1.5em;
	}
	a {
		color: $main-color;
		&:hover {
			color: $accent-color;
		}
	}
}

/*
 * Footer
 * --------------------------------------------------
 */

footer {
	background-color: $base-color;
	padding: 0.5em 1em 1em 2em;
    margin: 50px 0 0 0;
    small {
		color: #cfd6de;
	}
}

